@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Theme and nav-bar style - all pages */
#theme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header-container h1 {
    display: flex;
    justify-content: center;
}

#main-title {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #BFDBF7;
    font-size: 40px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-bar li {
    list-style: none;
    font-weight: bold;
    padding: 5px;
}

#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #022B3A;
}

#nav-bar a:hover {
    color: #1F7A8C;
    text-shadow: 2px 2px 4px rgb(172, 172, 172);
}

/* Footer style - all pages */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

#social-links-container {
    height: 80px;
}

#social-links-container ul {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

footer li {
    list-style: none;
    padding: 10px;
    font-size: 30px;
}

footer a {
    color:#022B3A;
    text-shadow: 1px 1px 2px rgb(172, 172, 172);
}

footer a:hover {
    color: #BFDBF7;
    text-shadow: 0 0 5px #022B3A, 0 0 4px #1F7A8C;
}

#footer-text-container p {
    font-size: 14px;
    margin-top: 0;
}

/* index.html style */

/* Selection section style */
#selection {
    display: flex;
    justify-content: center;
}

#selection-container {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #022B3A;
    border-radius: 10px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35), 0 7px 22px 0 rgba(0, 0, 0, 0.15);
}

/* Icons style */

.selection-options a {
    text-decoration: none;
    color: #BFDBF7;
    text-shadow: 1px 1px 2px black;
}

.selection-options i {
    font-size: 100px;
}

.selection-options p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.selection-options a:hover {
    color: #1F7A8C;
    text-shadow: 2px 2px 4px black;
}

/* converter.html style */

#converter {
    display: flex;
    justify-content: center;
}

#converter-container {
    background-color: greenyellow;
}

#converter-container h2 {
    display: flex;
    justify-content: center;
}

/* quiz-game.html style */

#quiz-game {
    display: flex;
    justify-content: center;
}

#quiz-game-container {
    background-color: aquamarine;
}

#quiz-game-container h2 {
    display: flex;
    justify-content: center;
}